{% load staticfiles %}
<html>
    <head>
        <title>Tea diary</title>



		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		
		<!-- <a href="{% url 'django.contrib.auth.views.logout' %}" class="top-menu"><span class="glyphicon glyphicon-log-out"></span></a>-->
		{% if user.is_authenticated %}


        <ul class="nav nav-tabs">
        <li><a href="/">Home</a></li>  <!-- <li class="active"><a href="/">Home</a></li>-->
        <li><a href="{% url 'add_new' %}">add company info</a></li>
        <li><a href="{% url 'add_tea' %}">add tea info</a></li>
        <li><a href="{% url 'user_detail' un=user.username %}">your log</a></li>
        <li><a href="{% url 'django.contrib.auth.views.logout' %}" >logout</a></li>

        </ul>

		{% else %}
			<a href="{% url 'django.contrib.auth.views.login' %}" class="top-menu"><span class="glyphicon glyphicon-log-in"></span></a>
		{% endif %}


    </head>
    <body>
		
		{% block content %}
		{% endblock %}
		
    </body>
</html>


