{% extends "tea_log/base.html" %}
	{% block content %}
		<div>
		<h1><a href="">Would you mind if i want to talk about tea?</a></h1>
		</div>
		
		<div>
		{% regroup posts|dictsortreversed:"created_date" by tea_info as tea_info_list %}
		{% for item in tea_info_list %}
			<h2>{{ item.grouper }}</h2>	
			{% for comp in item.list %}
		    	<p>written by <a href="{% url "user_detail" un=comp.author %}">{{comp.author}}</a>: {{ comp.comment}}</p>
			{% endfor %}
		{% endfor %}
		</div>
	{% endblock content %}

